:root {
	--main-color: #05191f;
	--main-transparent: #05191f6b;
	--primary-color: #36b6ac;
	--primary-transparent: #1a4c48a6;
	--secondary-color: #7aca88;
	--secondary-transparent: #7aca88bf;

	--third-color: #697579;
	--fourth-color: #86d3cd;
	--fifth-color: #95d5a0;

	--color-subtle: #433838de;

	--font-size: 14px;
}

@font-face {
	font-family: "Neuropolitical";
	src: url("fonts/neuropolitical.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	font-size: var(--font-size);
	background-image: linear-gradient(
		28deg,
		#05191f 5%,
		/*#95d5a0 36%,*/
		#1b4f4a 77%,
		#44b5ad 90%
	);
	color: white;
}

header {
	background-color: #0c212959;
}

nav {
	min-height: 15%;
	padding: 8px;
	border-bottom: 1px solid #00000014;
	text-shadow: 2px 2px 5px var(--third-color);
	a {
		&:hover {
			text-shadow: 2px 2px 5px #30add7;
		}
	}

	img {
		width: 48px;

		@media (max-width: 600px) {
			width: 56px;
		}
	}
}

.f-neuro {
	font-family: "Neuropolitical";
}

.color-third {
	color: #7c8183;
}

.border-subtle {
	border: 1.2px solid var(--color-subtle);
}

.background-main-transparent {
	background-color: var(--main-transparent);
}

.btn-circle {
	background-color: var(--main-transparent);

	/*&:hover {*/
	/*	background-color: white;*/
	/*}*/
}

main {
	min-height: 80%;
}

.main-transparent-hover {
	&:hover {
		border: 1.2px solid dimgrey;
		background-color: #05191fc4 !important;
	}
}

table {
	* {
		color: white !important;
		background-color: #585a5b1c !important;
	}
}

.table tbody tr:last-child > :first-child {
	border-bottom-left-radius: 1rem;
}

.table tbody tr:last-child > :last-child {
	border-bottom-right-radius: 1rem;
}

.popover {
	background-color: #222 !important;
	border: 1px solid #444 !important;
}

.popover-body {
	font-size: 14px;
	color: #fff !important;
	padding: 10px;
}

.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::before,
.bs-popover-bottom > .popover-arrow::before {
	border-bottom-color: #222 !important;
}
.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after,
.bs-popover-bottom > .popover-arrow::after {
	border-bottom-color: #222 !important;
}

.bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after,
.bs-popover-top > .popover-arrow::after {
	border-top-color: #222 !important;
}

.bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::before,
.bs-popover-top > .popover-arrow::before {
	border-top-color: #222 !important;
}

.nav-link {
	&:hover {
		color: aliceblue !important;
		filter: drop-shadow(0px 0px 2px var(--secondary-color)) !important;
	}
}

#connect-btn {
	border: 1px solid var(--primary-transparent);
	background-color: var(--primary-color);

	&:hover {
		border: 1.3px solid var(--secondary-transparent);
	}
}

#send-tx-btn {
	background-color: var(--secondary-color);
}

#you-receive {
	width: 51%;

	@media (max-width: 600px) {
		width: 100%;
	}
}

#to-address {
	width: 48%;

	@media (max-width: 600px) {
		margin-top: 8px;
		width: 100%;
	}
}

input[type="number"] {
	background: #0000ff00 !important;
	border: none !important;
	color: #fff !important;

	&:focus {
		border: none !important;
		color: #fff !important;
	}

	&::placeholder {
		color: #fff !important;
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: textfield;
	margin: 0;
}

option {
	background-color: var(--main-color);
	&:hover {
		background-color: red;
	}
}

select {
	appearance: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;

	background-color: var(--main-transparent) !important;
	border: 1px solid var(--color-subtle) !important;
	border-radius: 1rem !important;
	padding: 10px !important;
	font-size: 16px !important;
	text-align: center;
	font-weight: 600 !important;
	color: #fff !important;
	cursor: pointer !important;
}

.select-token-btn {
	button {
		color: white !important;
		background-color: #021627b5 !important;
		text-align: start;
		width: 7rem;
		height: 3rem;
		border-radius: 4rem !important;
	}
}

select {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="2" viewBox="0 0 20 20"><polygon points="5,7 10,12 15,7" fill="white"/></svg>') !important;
	background-position: right 10px center !important;
	background-repeat: no-repeat !important;
	background-size: 24px !important;
}

select:focus {
	border-color: #256e9d;
	outline: none;
}
.custom-dropdown1,
.custom-dropdown2 {
	background-color: var(--main-transparent) !important;
	border: 1px solid var(--color-subtle) !important;
	border-radius: 1rem !important;
	position: relative;
	width: 100%;
	height: 4rem;
	display: flex;

	ul {
		width: 11.5rem;
	}
}

.custom-dropdown1 .dropdown-toggle::after,
.custom-dropdown2 .dropdown-toggle::after {
	display: none !important;
}

#dropdownChainA,
#dropdownChainB {
	button {
		font-weight: 600 !important;
		color: #fff !important;
	}
}

.dropdown-icon {
	width: 20px;
	height: 20px;
}

.dropdown-menu {
	background-color: #05191f;
	width: 100%;
}

.dropdown-item {
	color: #fff !important;
	height: 40px;

	&:hover {
		color: var(--main-color) !important;
	}
}

.dropdown-item img {
	color: #fff !important;
	width: 20px;
	height: 20px;
}

.bridge-box {
	width: 44%;
	background-color: #05191f85;
	border-color: #00000040 !important;
	box-shadow: 0 0 25px 1px rgba(255, 255, 255, 0.3), 0 0 40px
		rgba(255, 255, 255, 0.2);
	/*animation: glowEffect 2.5s infinite alternate ease-in-out;*/

	h1 {
		text-shadow: 2px 2px 5px var(--primary-color);
	}

	@media (max-width: 612px) {
		width: 88%;
	}

	@media (max-width: 320px) {
		width: 92%;
	}
}

@keyframes glowEffect {
	0% {
		box-shadow: 0 0 15px 5px var(--third-color), 0 0 40px
			rgba(255, 255, 255, 0.2);
	}
	100% {
		box-shadow: 0 0 25px 10px var(--fifth-color), 0 0 50px
			rgba(255, 255, 255, 0.3);
	}
}
